{% extends 'base.html' %}
{# Заголовок страницы — название объявления #}
{% block title %}{{ item.title }}{% endblock %}
{# Основной блок содержимого страницы #}
{% block content %}
{# Заголовок объявления #}
<h2>{{ item.title }}</h2>
{# основной текст описания #}
<p>{{ item.content }}</p>

{# Список технических характеристик #}
<ul>
    <li><strong>Год выпуска:</strong> {{ item.year }}</li>
    <li><strong>Пробег:</strong> {{ item.mileage }}</li>
    <li><strong>Состояние:</strong> {{ item.condition }}</li>
    <li><strong>Модификация:</strong> {{ item.modification }}</li>
    <li><strong>Объём двигателя:</strong> {{ item.engine_volume }}</li>
    <li><strong>Тип двигателя:</strong> {{ item.engine_type }}</li>
    <li><strong>Коробка передач:</strong> {{ item.transmission }}</li>
    <li><strong>Привод:</strong> {{ item.drive }}</li>
    <li><strong>Комплектация:</strong> {{ item.equipment }}</li>
    <li><strong>Тип кузова:</strong> {{ item.body_type }}</li>
    <li><strong>Цвет:</strong> {{ item.color }}</li>
    <li><strong>Руль:</strong> {{ item.steering_wheel }}</li>
    <li><strong>Стоимость:</strong> {{ item.price }} руб.</li>
    <li><strong>Стоимость аренды:</strong> {{ item.price_arenda_car }} руб/час.</li>
</ul>

{# Показывает изображение, если оно прикреплено #}
{% if item.image %}
    <img src="{{ item.image.url }}" width="300">
{% endif %}
{# Показывает имя пользователя #}
<p>Автор: {{ item.user.username }}</p>
{# Показывает ссылку удаления объявления если это админ или пользователь который оставил объявление #}
{% if user.is_authenticated and user.is_staff or user == item.user %}
    <p><a href="{% url 'bboard:delete' slug=item.slug %}" class="btn btn-secondary">Удалить</a></p>
{% endif %}
{% endblock %}
