{% extends 'bboard/base.html' %}

{% block content %}
<div class="container">
    <h1>О нашем сайте HotMotors</h1>
    <p>Потому что мы — не просто доска объявлений. Мы — сообщество байкеров, коллекционеров и просто людей, влюблённых в свободу двух колёс.
        Будь то первый мотоцикл или уже десятый — здесь ты найдёшь именно то, что ищешь.</p>
    
    <h2>Что вы найдёте у нас:</h2>
    <ul> HotMotors </li>
        <li>Идеи для прогулок и путешествий с питомцем</li>
        <li>Теплую атмосферу и добрые фотографии</li>
        <li>Возможность поделиться своей историей</li>
        <li>Сообщество людей, которые любят собак так же сильно, как и вы</li>
    </ul>
    <p>Спасибо, что зашли!</p>
</div>
{% endblock %}