{% extends 'bboard/base.html' %}
{% load static %}

{% block content %}
<div class="delet-list">
    <h3>Удаление объявления</h3>
    <p>Автор - {{ addd.author }}</p>
    <p>Заголовок - {{ addd.title }}</p>
    <form method="post">
        {% csrf_token %}
        {% if addd.image %}
        <img src="{{ addd.image.url }}" width="200px" height="auto">
    {% else %}
        <img src="{% static 'img/no_image.jpg' %}" width="200px" height="auto">
    {% endif %}
        <button type="submit" class="custom-button">Удалить объявление</button>
        <a href="{% url 'bboard:index' %}">
            <button type="button" class="custom-button">Отменить</button>
        </a>
    </form>
</div>
{% endblock content %}


